@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

html {
    font-family: 'Shantell Sans', cursive;
}

body {
    background-color: #2f2f30;
    color: white;
    padding-left: 3;
    padding-right: 3;
    margin: 3%;
}

.header {
    background-color: #525151;
    display: inline-block;
    height: 4%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.header button {
    background-color: #525151;
    border: 2px solid #828281;
    color: white;
    float: left;
    font-size: 20px;
    height: 100%;
    width: auto;
}

.header button:hover {
    background-color: #2b2b2b;
}

.header label,
select {
    height: 100%;
    font-size: 20px;
}

.header select {
    background-color: #525151;
    border: 2px solid #828281;
    color: white;
    width: auto;
}
.header select option:hover {
  background-color: #2b2b2b;
}
.box {
  border-style: solid;
  border-color: #828281;
  border-radius: 5px;
}
#guns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}