* {
    font-family: 'Courier New', Courier, monospace;
}
/*Normal Stuff*/
body {
    background-color: #040829;
    color: white;
}
.welcome {
    padding-top: 3%;
}
a:link {
    color: #02d9fa;
  }
  a:visited {
    color: #69ebff;
  }
  a:hover {
    color: #5e9dbd;
  }

/*GunStuff*/
.guns {
    padding-top: .5%;
    text-align: center;
}
.AR, .BR, .SMG, .SHOTGUN, .LMG, .MR, .SR{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 5px; 
    margin-left: 1%;
    margin-right: 1%;
}
/*OpticStuff*/
.gunHeader, .optiHeader, .barrelHeader, .gripHeader {
    padding-top: 2%;
    text-align: center;
}
.opticDIV, .barrelDIV, .gripDIV {
    padding-top: 3%;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 5px; 
}
/*Box Shit*/
.gunBox, .optibox, .barrelBox, .gripbox {
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    padding: 1px;
}
.gunBox:hover, .optibox:hover, .barrelBox:hover, .gripbox:hover {
    border-color: #3275a8;
}
/*Cata Stuff*/
.cata {
    background-color: black;
    width: 100%;
    height: 4.5%;
    position: absolute;
    top: 0;
    left: 0;
}
.cata button {
    background-color: #0a1854;
    color:white;
    float: left;
    width: 6%;
    margin-right: -5px;
    padding: 10px 20px;
    font-size: 18px;
}
.cata button:hover {
    background-color: #182b80;
}