* {
    font-family: 'Courier New', Courier, monospace;
  }
  
  body {
    background-color: #19191a;
    color: white;
    margin: 0;
  }
  .box {
    border-style: solid;
    border-color: white;
    border-radius: 15px;
  }
  
  .box:hover {
    border-color: #5c5c61;
  }
  
  a:link {
    color: #02d9fa;
  }
  
  a:visited {
    color: #69ebff;
  }
  
  a:hover {
    color: #5e9dbd;
  }
  
  .cata {
    background-color: black;
    width: 100%;
    height: 4.5%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .cata button {
    background-color: #3f3f47;
    color: white;
    float: left;
    width: 6%;
    margin-right: -5px;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .cata button:hover {
    background-color: #5c5c61;
  }
  .typeHeader {
    padding-top: 2%;
    text-align: center;
  }
  
  .gunsSubMenu {
    display: none;
    position: fixed;
    padding-top: 1.09%;
    width: 100%;
  }
  
  .gunsSubMenu button {
    width: 5.86%;
    background-color: #3f3f47;
    color: white;
    font-size: 18px;
    z-index:100
  }
  
  .gunsSubMenu button:hover {
    background-color: #5c5c61;
  }
  
  .assaltRifles,
  .battleRifles,
  .subMachineGuns,
  .shotguns,
  .lightMachineGuns,
  .marksmanRifles,
  .sniperRifles,
  .pistols,
  .launchers,
  .opticDIV {
    z-index:0;
    padding-top: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
  
  .assaltRiflesMenu,
  .battleRiflesMenu,
  .subMachineGunsMenu,
  .shotgunsMenu,
  .lightMachineGunsMenu,
  .marksmanRiflesMenu,
  .sniperRiflesMenu,
  .pistolsMenu,
  .launchersMenu {
    display: none;
  }
  